<div class="create-todo-container">
  <button class="btn btn-primary" (click)="onClickCreateNewTodo()">
    Create New Todo
  </button>
  <div *ngIf="isCreateTodoSectionOpen">
    <form [formGroup]="createTodoForm" (ngSubmit)="onAddTodoText()">
      <input
        type="text"
        placeholder="todo text"
        formControlName="toCreateTodoText"
      />
      <select formControlName="category" class="dropdown">
        <option value="" disabled>Select a category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="createTodoForm.invalid"
      >
        Add
      </button>
      <button class="btn btn-danger" type="button" (click)="onCloseTodoText()">Close</button>
    </form>
  </div>
</div>
